:root {
  --color-primary: #757575;
  --color-caption: #212121;
  --color-brand: #2196f3;
  --color-action: #188ce8;
  --color-invert: #ffffff;
  --color-invert06: rgba(255, 255, 255, 0.6);
  --color-logo: #000000;
  --color-bg: #2f303a;
  --color-filter: #f5f4fa;
  --color-header-border: #ececec;
  --color-icon: #afb1b8;
}

body {
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}

.p {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* header */

.header {
  border-bottom: 1px solid var(--color-header-border);
}

.header .container {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--color-brand);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
}

.logo-header {
  color: var(--color-logo);
}

.logo-footer {
  color: var(--color-invert);
}

.site-nav {
  margin-left: 93px;
}

.site-nav .list {
  display: flex;
}

.site-nav .item {
  position: relative;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--color-caption);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--color-brand);
}

.nav-link.current {
  color: var(--color-brand);
  text-decoration: none;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 4px;
  background-color: var(--color-brand);
  border-radius: 2px;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 40px;
}

.auth-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;

  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.aut-nav-icon {
  margin-right: 10px;
  fill: currentColor;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--color-brand);
}

/* main index */

.section.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;

  background-color: var(--color-bg);
  text-align: center;
  height: 600px;
  max-width: 1600px;

  background-position: center;
  background-size: contain;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: var(--color-invert);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  text-align: center;
}

.button {
  display: inline-block;
  border: 1px solid transparent;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  background-color: transparent;
}

.hero.button {
  min-width: 200px;
  padding: 10px 24px;

  background-color: var(--color-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--color-invert);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero.button:hover,
.hero.button:focus {
  background-color: var(--color-action);
}

.features {
  padding-bottom: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-list-box {
  margin-bottom: 30px;
  background-color: var(--color-filter);
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.features-list-icon {
  align-content: center;
  stroke: none;
  width: 70px;
  height: 70px;
}

.features .box {
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--color-filter);
}

.features-list {
  display: flex;
  gap: 30px;
}

.features-list .list {
  width: 270px;
}

.features-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-caption);
}

.features-list .text {
  line-height: calc(24 / 14);
  margin: 0;
}

.work .box {
  display: flex;
  justify-content: space-between;
}

.container .title {
  margin-bottom: 50px;
  margin-top: 0;

  color: var(--color-caption);
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.02em;
  font-weight: 700;
  text-align: center;
}

.team {
  background-color: var(--color-filter);
  text-align: center;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team .card {
  background-color: var(--color-invert);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card .box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--color-caption);
  font-size: 16px;
  line-height: calc(19 / 16);
}

.team .text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

.work-thumb {
  position: relative;
}

.work-thumb-text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-thumb-text p {
  text-transform: uppercase;
  color: var(--color-invert);
  letter-spacing: 0.42px;
  font-weight: 700;
}

.social-list.list {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--color-invert);
  fill: var(--color-icon);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--color-brand);
  fill: var(--color-invert);
}

/* !section-clients */

.clients-list.list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--color-icon);
  fill: var(--color-icon);
  width: 170px;
  height: 92px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover,
.clients-list-link:focus {
  fill: var(--color-brand);
  border-color: var(--color-brand);
}

/* !footer */

.footer {
  background-color: var(--color-bg);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-social {
  margin-left: 70px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 28px;
}

.footer-link {
  color: var(--color-invert);
}

.adress-link-footer {
  line-height: calc(24 / 14);
  color: var(--color-invert);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .list {
  margin-bottom: 12px;
}

.contact-link-footer {
  color: var(--color-invert06);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-link-footer:hover,
.adress-link-footer:focus {
  color: var(--color-action);
}

.contact-link-footer:hover,
.contact-link-footer:focus {
  color: var(--color-action);
}

.footer-social p {
  margin-bottom: 20px;
  margin-top: 0;

  text-transform: uppercase;
  color: var(--color-invert);
  font-weight: 700;
  letter-spacing: 0.42px;
  line-height: calc(16 / 14);
}

.footer-social-list {
  display: flex;
  gap: 10px;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  display: flex;

  align-items: center;
  justify-content: center;
  fill: var(--color-invert);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 50%;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--color-brand);
}

/* portfolio */

.hero-portfolio .filters {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.button.filter {
  border-radius: 4px;
  padding: 6px 22px;

  background-color: var(--color-filter);
  color: var(--color-caption);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.filter:hover,
.button.filter:focus {
  background-color: var(--color-brand);
  color: var(--color-invert);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects .list {
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-list-link:hover,
.projects-list-link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects .list:nth-child(3n) {
  margin-right: 0;
}

.projects .list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects .list .box {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.projects .box {
  padding: 20px 24px;
}

.projects .title {
  margin-top: 0;
  margin-bottom: 4px;
  text-align: left;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--color-caption);
}

.projects .text {
  color: var(--color-primary);
  font-size: 16px;
  line-height: calc(30 / 16);
  margin: 0;
}

.projects-overlay {
  position: relative;
  overflow: hidden;
}

.projects-list-description {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;

  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-link:hover .projects-list-description,
.projects-list-link:focus .projects-list-description {
  transform: translateY(0);
}

.projects-list-description p {
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.54px;
  color: var(--color-invert);
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  height: 581px;
  background-color: var(--color-invert);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  fill: var(--color-logo);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
