.features-section {
  padding-bottom: 0;
}

.features-list-box {
  margin-bottom: 30px;
  background-color: var(--color-bgc-elements);
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.features-list-box__icon {
  align-content: center;
  stroke: none;
  width: 70px;
  height: 70px;
}

.features-section__list {
  display: flex;
  gap: 30px;
}

.features-section__list {
  width: 270px;
}

.features-section__heading {
  margin-top: 0;
  margin-bottom: 10px;

  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-caption);
}

.features-section__text {
  line-height: calc(24 / 14);
  margin: 0;
}
