body {
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}

.p {
  margin: 0;
}

img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
