$primaryColor: #757575;
$captionColor: #212121;
$brandColor: #2196f3;
$actionColor: #188ce8;
$invertColor: #ffffff;
$logoColor: #000000;
$bgcColor: #2f303a;
$bcgelemColor: #f5f4fa;
$header-borderColor: #ececec;
$iconColor: #afb1b8;






